body {
    font-family: Akkurat,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 100%;

    margin: 0px;
    padding: 0px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #757575
}

img {
	float: left;
	border-radius: 50%;

	margin: 40px;

    max-width: 300px;
}

.main {
	margin: 60px;
}

h1 {
    fill: #364962;
    font-size: 30px;
    font-weight: 400;

}

.text {
    font-size: 18px;
    line-height: 28px;
    fill: #90a1b8;
}

.date {
	color: #90a1b8;
	font-size: 21px;
}